<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Coffee 42</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
      Username: <input type="text" name="username" />
      Password: <input type="password" name="password" />
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html> -->
