<!DOCTYPE html>
<html>
  <head>
    <title>Coffee 42</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="POST"id="login">
      Username: <input type="text" name="username" />
      Password: <input type="password" name="password" />
      <button type="submit" >SUBMIT</button>
    </form>
    <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
