<!DOCTYPE html>
<html>
  <head>
    <title>Coffee 42</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="POST">
      <p>
        hi
      </p>
    </form>
  </body>
</html>
