@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

body {
  font: 18px "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
}

.container-content {
  border: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

header {
  background-color: #8e5d2c;
  color: white;
  /*padding: 1rem;*/
  width: 100%;
  height: 8%;
}

ul {
    display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.logo {
  font-size: 1.1em;
}

.nav-box{
  width: 50%;
  text-align: center;
  /*position: absolute;*/
}

.header-link {
  padding: 10px;
  color: white;
}

li {
  text-decoration: none;
  list-style-type: none;
}

#main-nav {
  display: flex;
  flex-direction: row;
  /*position: fixed;*/
}

/*#main-nav {
  height: 10%;
}*/

#left {
  width: 80%;
}

#right {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.top-crop {
  background-image: url(http://localhost:3000/images/coffee42_mergedheader.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 37em;
  /*text-indent: 4.2em;*/
  overflow: hidden;
  position: relative;
}

.content{
  width: 50%;
  text-align: center;
  margin: auto;
}

.title-header{
  text-align: center;
  font-size: 2.8em;
}

.main-label {
  font-size: 1.8em;
}

#myModal1, #myModal2 {
  z-index: 500;
}

.auth-button {
  border: 0px;
  background-color: inherit;
  height: 100%;
}

.auth-button:hover {
  background-color: #e3a530;
}

.signup-error, .login-error {
  background-color: #EC4E20;
  height: 2em;
  margin-top: 2em;
  text-align: center;
}

.error-message {
  padding: 0.2em;
  margin: 0 auto;
}

.conf-button {
  background-color: #FFA000;
}

.conf-button:hover{
  background-color: #EC7505;
}
