.profile {
  color: white;
}

#left {
  width: 75%;
}

#right {
  width: 25%;
}

#profile-link {
  width: 60%;
}

#logout {
  width: 40%
}
/*
.conf-button {
  background-color: #FFA000;
}

.conf-button:hover{
  background-color: #EC7505;
}*/
